<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vobis.example.com.organizer" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Browser"
            android:screenOrientation="landscape"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".EventsByDateManager"
            android:screenOrientation="landscape"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".LocalDBGuide"
            android:screenOrientation="landscape"
            android:parentActivityName=".EventsByDateManager" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventsByDateManager" />
        </activity>
        <activity
            android:name=".Subscriber"
            android:screenOrientation="landscape"
            android:parentActivityName=".EventsByDateManager" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventsByDateManager" />
        </activity>
        <activity
            android:name=".ChildOfSubsriber"
            android:screenOrientation="landscape"
            android:parentActivityName=".Subscriber" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Subscriber" />
        </activity>
        <activity
            android:name=".EventDescription"
            android:screenOrientation="landscape"
            android:parentActivityName=".ChildOfSubsriber" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChildOfSubsriber" />
        </activity>
        <activity
            android:name=".CustomEvent"
            android:screenOrientation="landscape"
            android:parentActivityName=".Subscriber" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Subscriber" />
        </activity>
        <activity
            android:name=".ChildOfBrowser"
            android:screenOrientation="landscape"
            android:parentActivityName=".Browser" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Browser" />
        </activity>
        <activity
            android:name=".Browser_EventDesc"
            android:screenOrientation="landscape"
            android:parentActivityName=".ChildOfBrowser" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChildOfBrowser" />
        </activity>
        <activity
            android:name=".StoredEvents"
            android:screenOrientation="landscape"
            android:parentActivityName=".LocalDBGuide" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LocalDBGuide" />
        </activity>
    </application>

</manifest>
